
SECRET_KEY = '8D23aweacwJbjoClPgTn5spsJqN1S2Mu7dHQV4Mk4jy8qmWAoNxkhDgmBXVhhh49RvU'
DEBUG=True

DB_NAME=NAME
DB_USER=USER
DB_PASSWORD=PASSWORD
DB_HOST=HOST
DB_PORT=PORT

EMAIL_HOST=EMAIL_HOST
EMAIL_PORT=EMAIL_PORT
EMAIL_HOST_USER=EMAIL_HOST_USER
EMAIL_HOST_PASSWORD=EMAIL_HOST_PASSWORD
EMAIL_USE_TLS=True
EMAIL_USER_SSL=False


LOCATION=LOCATION
