<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <p>Количество всех рассылок: {{ total_mailings }}</p>
    <p>Количество активных рассылок: {{ active_mailings }}</p>
    <p>Количество уникальных клиентов: {{ unique_clients }}</p>

    <h2>Статьи из блога:</h2>
    <ul>
        {% for article in random_articles %}
            <li>
                <a href="{% url 'blog_detail' article.pk %}">{{ article.title }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
