<title>Статьи</title>

{% extends 'mailing/index.html' %}
{% load static %}
{% block content %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form class="row" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="id_title"><strong>Заголовок</strong></span>
                                    <input type="text" class="form-control" name="title" value="{{ post.title }}"
                                           placeholder="Напишите заголовок"
                                           required id="id_title">
                                </div>

                                <label for="id_content"><strong>Статья:</strong></label>
                                <p>
                                    <textarea name="content" cols="169" rows="10" class="form-class" required
                                              id="id_content">{{ post.content }}</textarea>
                                </p>

                                <p>
                                    {% if post.preview %}
                                        <label for="id_preview"><strong>Превью:</strong></label>
                                        <a href="/media/{{ post.preview }}">{{ post.preview }}</a>
                                        <div>
                                            <input type="checkbox" name="preview-clear" id="preview-clear_id">
                                            <label for="preview-clear_id">Очистить</label><br>
                                        </div>
                                        <div class="col-auto d-none d-lg-block">
                                            <img src="{{ post.preview.url }}" width="100" height="100">
                                        </div>
                                        Изменить:
                                    {% endif %}
                                <input type="file" name="preview" accept="image/*" class="form-class"
                                       id="id_preview">
                                </p>

                                <p>
                                    <label for="id_is_published">Добавить к избранным:</label>
                                    <input type="checkbox" name="is_published" class="form-check-input"
                                           id="id_is_published"
                                            {% if post.is_published %} checked {% endif %}>
                                </p>

                                {% if object %}
                                    <button type="submit" class="btn btn-primary" role="button" style="width: 130px;">
                                        Сохранить
                                    </button>
                                    <a class="btn btn-primary" href="{% url 'blog:post_detail' post.id %}"
                                       role="button">Назад</a>
                                {% else %}
                                    <button type="submit" class="btn btn-primary" role="button" style="width: 130px;">
                                        Создать
                                    </button>
                                    <a class="btn btn-primary" href="{% url 'blog:post_all' %}"
                                       role="button">Отменить</a>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
